body {
    font-family: Inter;
    background-color: #ffffff ;
}

header{

    background-color: #C1C7D9;
    font-family: Inter;
    padding: 50px;
    height: 70px;
    
}

a{

    text-decoration: none;
    background-color: #9f9b9b;
    padding: 6px;
    border-radius: 5px;
    color: #f2f1f4;
    
   

}

nav{
float: right;
font-size: 20px;
padding-bottom: 50px;
padding: 20px;
  position: absolute;
  top:10px;
  left:500px;
}

footer{

    
    background-color: #C1C7D9;
    font-family: Inter;
    padding: 10px;
   
}

p,h1{

    color: #636363;
   
}
.title{
    float:left;
    position:absolute;
 top:10px;
}

.fot{

    background-color: #dbdbdd;
    padding: 15px;
    border-radius: 9px;
     width: 500px;
}

.poshuk{

   
    background-color: #9a9595;
    width: 350px;
    height: 10x;
    text-align: center;
    float: right;
}

.poshuk p{

 opacity:1;
}

.catalog{
    width: 250px;
    height: 330px;
    background-color: #b0b0b0;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    
   float: left;
    
}

main{

    padding: 10px;
}

header h1{

background-color: #d5d4d6;
padding: 5px;
font-size: 50px;

}
#text{
    width:380px;
    height: 50px;
    background-color: #D9D9D9 ;
    position: absolute;
    left: 500px;
    top: 85px;
    text-align: center;
    color: #594936;
    opacity: 50%;

}

text, p{

    opacity: 50%;
}

.posud{

    margin-bottom: 70PX;
   float: right;
}

nav a:hover{

    background-color: white;
    color: black;
    box-shadow:rgba(0, 0, 0, 0.4) 10px 10px;
}


.catalog :hover{



}

.catalog h1:hover{


}

.catalog h1{

    background-color: #d5d4d6;
    padding: 5px;
    border-radius: 5px;
    width: 125px;
}

.tovar h1{

color: #636363;
background-color: ;

}

.tovar h2{

color: rgb(90, 86, 86);
background-color: darkgrey;
border-radius: 5px;
width: 68px;
padding: 5px;
margin-left: 105px;
font-size: 30px;

}

.tovar h2:hover{

    background-color: white;

}

.tovar-1{

    border: 3px solid rgb(93, 93, 93);
    width: 290px;
    height: 310px;
    text-align: center;
    border-radius: 6px;
    background-color:    #d5d4d6;
    padding: 05px;
}

.tovar-2{
    border: 3px solid rgb(93, 93, 93);
    width: 290px;
    height: 310px;
    text-align: center;
    border-radius: 6px;
    background-color:    #d5d4d6;
    padding: 05px;
}

.tovar-3{

      border: 3px solid rgb(93, 93, 93);
    width: 290px;
    height: 310px;
    text-align: center;
    border-radius: 6px;
    background-color:    #d5d4d6;
    padding: 05px;
}



.tovar{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.vid{

    text-align: center;
    background-color: #C1C7D9 ;
    border-radius: 3px;
}

.vidguky h2{
color: rgb(90, 86, 86);
background-color: darkgrey;
border-radius: 5px;
width: 130px;
padding: 5px;
margin-left: 65px;
text-align: center;

}

.vidguky h2:hover{

    background-color: white;
     box-shadow:rgba(0, 0, 0, 0.4) 10px 10px;
}

.vid-1{

       border: 3px solid rgb(93, 93, 93);
    width: 290px;
    height: 310px;
    text-align: center;
    border-radius: 6px;
    background-color:    #d5d4d6;
     padding: 15px;
}

.vid-2{

        border: 3px solid rgb(93, 93, 93);
    width: 290px;
    height: 310px;
    text-align: center;
    border-radius: 6px;
    background-color:    #d5d4d6;
    padding: 15px;
}

.vid-3{

     border: 3px solid rgb(93, 93, 93);
    width: 290px;
    height: 310px;
    text-align: center;
    border-radius: 6px;
    background-color:    #d5d4d6;
       padding: 15px;
}



.vidguky{
  display:flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.about p{

    color: white;
    background-color:rgb(93, 93, 93);
    border: 3px solid black;
    border-radius: 5px;
    padding: 6px;
}

.about p:hover{

 
 

}

.vidnap{

    text-align: center;
    background-color: #C1C7D9 ;
   border-radius: 15px;
   border: 1.5px solid;
   padding: 8px;
   text-decoration: none;
   
}

.vidnap:hover{

 color: white;
    background-color:rgb(93, 93, 93);
    

}
.a{
    background-color: #C1C7D9  ;
    font-size: 20px;
    color: grey;
}

a:hover{
color: white;
    background-color:rgb(93, 93, 93);

}
